<body>
    <div class="clicked__overlay"></div>
    <main>
        <section class="about__hero">
            <div class="about__hero--text">
                <h1 class="about__hero--title">About Us</h1>
                <p class="about__hero--description">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
                    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                    veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                </p>
            </div>
            <div class="about__hero--image">
                <img src="/assets/pexels-karolina-grabowska-4047186.jpg" alt="" class="about" />
            </div>
        </section>

        <section class="about__talent">
            <div class="about__talent--image">
                <img src="/assets/pexels-nataliya-vaitkevich-5863391.jpg" alt="" />
            </div>
            <div class="about__talent--text">
                <h2 class="about__talent--headline">Our Staff and Members</h2>
                <p class="about__talent--description">
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum
                    fuga. Et harum quidem rerum facilis est et expedita distinctio.
                </p>
            </div>
        </section>
        <section class="real__deal">
            <div class="real__deal--text">
                <h2 class="about__talent--headline">Our Goals</h2>
                <p class="about__talent--description">
                    Nisl purus in mollis nunc sed id semper risus in. Ornare aenean euismod elementum nisi. Vitae congue
                    eu consequat ac felis donec et odio pellentesque. Diam phasellus vestibulum lorem sed risus
                    ultricies tristique nulla aliquet. Ullamcorper eget nulla facilisi etiam dignissim diam quis. Urna
                    condimentum mattis pellentesque id. Consectetur a erat nam at lectus urna duis convallis convallis.
                    Sollicitudin ac orci phasellus egestas tellus rutrum. Mauris nunc congue nisi vitae suscipit tellus
                    mauris a diam. <br><br>
                    Quam nulla porttitor massa id neque aliquam vestibulum morbi. Auctor elit sed
                    vulputate mi sit. Malesuada bibendum arcu vitae elementum curabitur vitae. Ac ut consequat semper
                    viverra nam libero. Dapibus ultrices in iaculis nunc sed. Tristique risus nec feugiat in. Aliquet
                    porttitor lacus luctus accumsan tortor posuere ac ut. Ipsum a arcu cursus vitae congue mauris
                    rhoncus aenean vel. Rhoncus aenean vel elit scelerisque mauris pellentesque. At elementum eu
                    facilisis sed odio morbi quis. Amet justo donec enim diam.
                </p>
            </div>
            <div class="real__deal--image">
                <img src="/assets/pexels-engin-akyurt-2678059.jpg" alt="" />
            </div>
        </section>
        <section class="about__locations">
            <div class="about__locations--container">
                <div class="locations__card">
                    <h3 class="location">Register</h3>
                    <a [routerLink]="['/register']" class="location__button">Go to Page</a>
                </div>
                <div class="locations__card">
                    <h3 class="location">Login</h3>
                    <a [routerLink]="['/login']" class="location__button">Go to Page</a>
                </div>
            </div>
        </section>
    </main>
</body>